@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@font-face {
  font-family: "Alegreya";
  src: url("../font/AlegreyaSans-Regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: Alegreya;
  line-height: 1.8rem;
  color: #999999;
}

h2 {
  font-size: 8rem;
  font-family: "Poppins", sans-serif;
}

p {
  color: #09033f;
  font-size: 1.3rem;
}

b {
  color: #330ca9;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

.header {
  background-color: #290680;
}
.header .nav {
  padding: 1.3rem 0 1.3rem 0;
  max-width: 64rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 0.5rem 0 0.5rem;
}
.header .nav .menu-item li a {
  border-radius: 5px;
  border: 3px;
  background-color: #290680;
  color: #ffcf5e;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 8rem;
  text-align: center;
  font-weight: bolder;
}
.header .nav .menu-item li a:hover {
  border-radius: 5px;
  border: 3px;
  background-color: white;
  color: black;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 8rem;
  text-align: center;
  font-weight: bolder;
  box-shadow: 4px 4px black;
}
.header .nav .toggle {
  display: none;
}

footer {
  background-color: #24033f;
  padding-bottom: 2rem;
}
footer section {
  max-width: 64rem;
  padding: 3rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}
footer section .icons a {
  padding-right: 0.8rem;
  font-size: 1.5rem;
  opacity: 0.6;
}
footer section .icons a:hover {
  opacity: 1;
}
footer section .icons a i {
  font-size: 1.5srem;
}
footer section .textfooter {
  text-align: end;
}
footer section .textfooter p {
  font-size: 1rem;
  color: white;
}
footer hr {
  max-width: 64rem;
  margin: 0 auto;
}

.perfil {
  background-color: #ffcf5e;
}

.landpages {
  background-color: #eba4a0;
}
.landpages h2 {
  color: #ffd2d0;
}

.design {
  background-color: #565f92;
}
.design h2 {
  color: #bcc2e8;
}

.digitalArt {
  background-color: #816f99;
}
.digitalArt h2 {
  color: #c0add9;
}

.cero {
  max-width: 64rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  align-items: center;
}
.cero .avatar img {
  width: 100%;
  border-radius: 50%;
}
.cero .presentacion .titulo .normal {
  color: #541dde;
}
.cero .presentacion .titulo h3 {
  font-size: 2.5rem;
  color: #290680;
  padding-bottom: 1.5vh;
}
.cero .presentacion .aboutMe {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3vh;
}
.cero .presentacion .aboutMe p {
  line-height: 1.5;
}

.one {
  max-width: 64rem;
}
.one h1 {
  padding: 0rem 0 1rem 0;
}
.one img {
  width: 100%;
  border-radius: 2%;
  margin-bottom: 0.4rem;
}
.one .titulos {
  padding: 0.6rem 0 0.6rem 0;
}
.one .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}
.one .logos img {
  width: 100%;
  border-radius: 2%;
}
.one .ilustraciones img {
  width: 100%;
  border-radius: 2%;
}
.one .page img {
  width: 100%;
  border-radius: 2%;
  margin-bottom: 0.45vw;
}

.m-auto {
  margin: 0 auto;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.p-6 {
  padding: 3rem;
}

.p-7 {
  padding: 3.5rem;
}

.p-8 {
  padding: 4rem;
}

.p-9 {
  padding: 4.5rem;
}

.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1rem 0;
}

.py-3 {
  padding: 1.5rem 0;
}

.py-4 {
  padding: 2rem 0;
}

.py-5 {
  padding: 2.5rem 0;
}

.py-6 {
  padding: 3rem 0;
}

.py-7 {
  padding: 3.5rem 0;
}

.py-8 {
  padding: 4rem 0;
}

.py-9 {
  padding: 4.5rem 0;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

@media screen and (max-width: 1024px) {
  .logo {
    padding-left: 2rem;
  }

  .one, .cero {
    margin: 0 2rem 0 2rem;
  }
  .one h1, .cero h1 {
    font-size: 6rem;
  }

  footer section .icons {
    margin: 0 2rem 0 2rem;
  }
  footer section .textfooter {
    margin: 0 2rem 0 2rem;
  }
  footer hr {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (max-width: 960px) {
  .header .nav .menu-item-active {
    display: flex;
    background-color: #eaa845;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10rem 3rem 20rem 0;
    align-items: center;
    gap: 3rem;
  }
  .header .nav .menu-item-active li {
    list-style: none;
    padding-bottom: 4vh;
  }
  .header .nav .menu-item-active li a {
    font-size: -webkit-xxx-large;
    border-radius: 5px;
    border: 3px;
    background-color: #eaa845;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    max-width: 8rem;
    text-align: center;
    font-weight: bolder;
  }
  .header .nav .menu-item-active li a:hover {
    border-radius: 5px;
    border: 3px;
    background-color: white;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    max-width: 8rem;
    text-align: center;
    font-weight: bolder;
    box-shadow: 6px 6px #000000;
  }
  .header .nav .menu-item {
    display: none;
  }
  .header .nav .toggle {
    z-index: 1;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 2rem;
  }
  .header .nav .toggle i {
    font-size: 2rem;
    color: white;
  }
  .header .nav .logo {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .one .ilustraciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }
  .one .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
  }
  .one .logos img {
    width: 100%;
    border-radius: 2%;
  }
  .one .page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1vw;
  }
  .one .titulos {
    padding: 3.6rem 0 3.6rem 0;
  }
}
@media screen and (min-width: 480px) {
  .one .titulos {
    padding: 2.6rem 0 2.6rem 0;
  }
}
@media screen and (max-width: 768px) {
  .cero {
    display: flex;
    flex-direction: column-reverse;
    gap: 2vw;
  }
  .cero .presentacion {
    text-align: center;
  }
  .cero .avatar {
    text-align: center;
  }
  .cero .avatar img {
    width: 60%;
  }

  .one .page img {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 0.45vw;
  }
  .one .page .phone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
  }

  footer section .icons {
    margin: 0 2rem 0 2rem;
  }
  footer section .textfooter {
    margin: 0 2rem 0 2rem;
  }
  footer hr {
    margin: 0 2rem 0 2rem;
  }
}
@media screen and (max-width: 814px) {
  .one h2 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 690px) {
  .one h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 560px) {
  .one h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 440px) {
  .one h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 315px) {
  .one h2 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
