@import "components/mixins", "components/vars";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
    font-family: "Alegreya";
    src: url("../font/AlegreyaSans-Regular.ttf") format("truetype");
}

html{
    scroll-behavior: smooth;
}

* {
    @include reset-pm();
    font-family: Alegreya;
    line-height: 1.8rem;
    color:#999999;
}

h2 {
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
}

p{
    color:#09033f;
    font-size: 1.3rem;
}

b {
    color: #330ca9;
    font-weight: bolder;
}

a {
    text-decoration: none;
}
li {
    text-decoration: none;
}

.header{
    background-color: #290680;
    .nav {
        padding: 1.3rem 0 1.3rem 0;
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu-item {
            @include reset-pm();
            list-style: none;
            display: flex;
            gap: 20px;
            padding: 0 0.5rem 0 0.5rem;
            li {
                a {
                    @include border();
                    background-color: #290680;
                    color: #ffcf5e;
                    padding: 1rem 2rem 1rem 2rem;
                    max-width: 8rem;
                    text-align: center;
                    font-weight: bolder;
                    &:hover {
                        @include border();
                        @include btn($background-color: white, $color: $bg-color);
                        box-shadow: 4px 4px $bg-color;
                    }
                }
            }
        }
        .toggle {
            display: none;
        }
    }
}

footer {
    background-color: rgb(36, 3, 63);
    padding-bottom: 2rem;
    section {
        @include container();
        padding: 3rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        .icons {
            a {
                padding-right: 0.8rem;
                font-size: 1.5rem;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
                i {
                    font-size: 1.5srem;
                }
            }
        }
        .textfooter {
            text-align: end;
            p{
                font-size: 1rem;
                color:white;
            }
            
        }
    }
    hr {
        @include container();
        margin: 0 auto;
    }
}



.perfil{
    background-color: #ffcf5e;
}
.landpages{
    background-color: #eba4a0;
    h1{
        color: #ffd2d0;
    }
}
.design{
    background-color: #565f92;
    h1{
        color: #bcc2e8;
    }
}
.digitalArt{
    background-color: #816f99;
    h1{
        color: #c0add9;
    }
}

.cero{
    @include container();
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    align-items: center;
    .avatar{
        img{
            width: 100%;
            border-radius: 50%;
        }
    }
    .presentacion{
        .titulo{
            .normal{
                color:#541dde;
            }
            h1{
                font-size: 2rem;
                color:#290680;
                padding-bottom: 1.5vh;
            }
        }
        .aboutMe{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 3vh;
            p{
                line-height: 1.5;
            }
        }
    }
}

.one {
    @include container();
    h1 {
        padding: 0rem 0 1rem 0;
    }
    img{
        width: 100%;
        border-radius: 2%;
        margin-bottom: 0.4rem;
    }
    .titulos{
        padding: 0.6rem 0 0.6rem 0;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
    }
    .logos{
        img {
            width: 100%;
            border-radius: 2%;
        }
    }
    .ilustraciones{
        img {
            width: 100%;
            border-radius: 2%;
        }
    }
    .page{
        img {
            width: 100%;
            border-radius: 2%;
            margin-bottom: 0.45vw;
        }
    }
}


.m-auto {
    margin: 0 auto;
}

//ciclos
@for $i from 1 to $limit {
    .p-#{$i} {
        padding: $i * $unit;
    }
}

@for $i from 1 to $limit {
    .py-#{$i} {
        padding: $i * $unit 0;
    }
}


.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }

//media
@media screen and(max-width: map-get($breakpoints, "muygrande")) {
    .logo{
        padding-left: 2rem;
    }
    .one, .cero{
        @include m-cont();
        h1{
            font-size: 6rem;
        }
    }
    footer {
        section {
            .icons {
                @include m-cont();
            }
            .textfooter {
                @include m-cont();
            }
        }
        hr {
            @include m-cont();
        }
    }
}

@media screen and(max-width: map-get($breakpoints, "grande")) {
    .header{
        .nav {
            .menu-item-active {
                display:flex;
                background-color: rgb(234, 168, 69);
                flex-direction: column;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                padding: 10rem 3rem 20rem 0;
                align-items: center;
                gap: 3rem;
                li {
                    list-style: none;
                    padding-bottom: 4vh;
                    a {
                        font-size: -webkit-xxx-large;
                        @include border();
                        @include btn($background-color: rgb(234, 168, 69), $color: white);
                        &:hover {
                            @include border();
                            @include btn($background-color: white, $color: $bg-color);
                            box-shadow: $box-shadow;
                        }
                    }
                }
            }
            .menu-item {
                display: none;
            }
            .toggle {
                z-index: 1;
                display: block;
                background: none;
                border: none;
                cursor: pointer;
                padding-right: 2rem;
                i {
                    font-size: 2rem;
                    color: white;
                }
            }
            .logo{
                padding-left: 2rem;
            }
        }
   }
}

@media screen and(min-width: map-get($breakpoints, "normal")) {
    .one{
        .ilustraciones{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1vw;
        }
        .logos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1vw;
            img {
                width: 100%;
                border-radius: 2%;
            }
        }
        .page{
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1vw;
        }
        .titulos{
            padding: 3.6rem 0 3.6rem 0;
        }
    }
}

@media screen and(min-width: map-get($breakpoints, "pequeño")) {
    .one{
        .titulos{
            padding: 2.6rem 0 2.6rem 0;
        }
    }
}

@media screen and(max-width: map-get($breakpoints, "normal")) {
    .cero{
        display: flex;
        flex-direction: column-reverse;
        gap: 2vw;
        .avatar{
            text-align: center;
            img{
                width: 60%;
            }
        }
    }
    .one{
        .page{
            img {
                width: 100%;
                border-radius: 2%;
                margin-bottom: 0.45vw;
            }
            .phone{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1vw;
            }
        }
    }
    footer {
        section {
            .icons {
                @include m-cont();
            }
            .textfooter {
                @include m-cont();
            }
        }
        hr {
            @include m-cont();
        }
    }
}


@media screen and(max-width: 814px) {
    .one{
        h1{
            font-size: 5rem;
        }
    }
}


@media screen and(max-width: 690px) {
    .one{
        h1{
            font-size: 4rem;
        }
    }
}

@media screen and(max-width: 560px) {
    .one{
        h1{
            font-size: 3rem;
        }
    }
}

@media screen and(max-width: 440px) {
    .one{
        h1{
            font-size: 2rem;
        }
    }
}

@media screen and(max-width: 315px) {
    .one{
        h1{
            font-size: 1rem;
        }
    }
}
